<h1>{{title}}</h1>
<h2>Get Request (https://jsonplaceholder.typicode.com/posts/1/comments)</h2>

<table>
  <tr>
    <th>Post-ID</th>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>
  <tr *ngFor='let com of listcomments'>
    <td>{{com.postId}}</td>
    <td>{{com.id}}</td>
    <td>{{com.name}}</td>
    <td>{{com.email}}</td>
    <td>{{com.body}}</td>
  </tr>
</table>



<!-- <app-country></app-country> -->

<h2>Get Request Using Parameter (https://jsonplaceholder.typicode.com/comments?postId=1)</h2>

<table>
  <tr>
    <th>User-ID</th>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let com of listposts">
    <td>{{com?.userId}}</td>
    <td>{{com?.id}}</td>
    <td>{{com?.title}}</td>
    <td>{{com?.body}}</td>
  </tr>
</table>

<h2>Post DATA Returned (https://jsonplaceholder.typicode.com/posts)</h2>

<p>id: {{objPosts?.id}}</p>
<p>UserId : {{objPosts?.userId}}</p>
<p>Title : {{objPosts?.title}}</p>
<p>Body: {{objPosts?.body}}</p>

<h2>Put DATA Returned (https://jsonplaceholder.typicode.com/posts/1)</h2>

<p>id : {{objPuts?.id}}</p>
<p>userId : {{objPuts?.userId}}</p>
<p>Title : {{objPuts?.title}}</p>
<p>Body : {{objPuts?.body}}</p>

<h2>Patched DATA Returned (https://jsonplaceholder.typicode.com/posts/1)</h2>

<p>id : {{objPatch?.id}}</p>